__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.chromadb/
chroma_data/
results/
examples/reports/2*
*.ipynb_checkpoints/
.data/
